<div class="article">
  <div class="article__top">
    <h2><%= @article.title %></h2>
  </div>
  <div class="article__article">
    <%= @article.article_body %>
  </div>
  <div class="article__comment">
    <center><h5>Share</h5></center>

    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=&quote=" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/packs/media/images/icons/Facebook-6a46d2278f751d882bee1ec883f568f9.png" /></a></li>
      <li><a href="https://twitter.com/intent/tweet?url=https://felinesfancy.com/articles/<%= @article.id %>&text=<%= @article.title %> @ www.felinesfancy.com/articles/<%= @article.id %>" target="_blank" title="Tweet"><img alt="Tweet" src="/packs/media/images/icons/Twitter-c65574840a08aa38cee83459810dfdf0.png" /></a></li>
      <li><a href="http://pinterest.com/pin/create/button/?url=https://felinesfancy.com/articles/<%= @article.id %>&description=<%= @article.title %> @ www.felinesfancy.com/articles/<%= @article.id %>" target="_blank" title="Pin it"><img alt="Pin it" src="/packs/media/images/icons/Pinterest-b1f2403c08e7133e9c34b0e9406fc261.png" /></a></li>
    </ul>
    <center><h5>Tell Us Your Thoughts!</h5></center>

    <%= render 'article_comments/form' %>

    <% if @article_comments %>
      <div class="article__comments">
        <% @article_comments.each do |comment| %>
          <div class="comment">
            <%= comment.body %>
          </div>
        <% end %>

        <%= will_paginate @article_comments, class: "digg_pagination" %>
      </div>
    <% end %>
  </div>
  <div class="scroll_buttons" data-controller="article-scroll">
    <div class="scroll_bottom">
      <button class="btn" type="button" name="scroll_bottom" data-action="click->article-scroll#scrollBottom">
        Scroll Bottom &#9660;
      </button>
    </div>
    <div class="scroll_top">
      <button class="btn" type="button" name="scroll_top" data-action="click->article-scroll#scrollTop">
        Scroll Top &#9650;
      </button>
    </div>
  </div>
</div>
