"Index cat personality type"


<%= form_with url: cat_personality_test_index_path do %>
  <h3> What is your gender></h3>
    <%= radio_button_tag(:Q0, "female") %>
    <%= label_tag("female") %>
    <p>
    <%= radio_button_tag(:Q0, "male") %>
    <%= label_tag("male") %>
    </p>
  <h3>1) How would you describe yourself in social situations?</h3>
    <%= radio_button_tag(:Q1, "a") %>
    <%= label_tag(:a, "a) I am very outgoing, never shy") %>
    <p>
    <%= radio_button_tag(:Q1, "b") %>
    <%= label_tag(:b, " b) I am usually outgoing and social") %>
    </p>
    <p>
    <%= radio_button_tag(:Q1, "c") %>
    <%= label_tag(:c, " c) I tend to be shy, at least until I warm up or have a couple of drinks – lol") %>
    </p>
    <p>
    <%= radio_button_tag(:Q1, "d") %>
    <%= label_tag(:d, " d) I am more of a loner or just feel comfortable around very close friends and family") %>
    </p>

  <h3>2) Would you rather:</h3>
    <%= radio_button_tag(:Q2, "a") %>
    <%= label_tag(:a, "a) Run a large corporation") %>
    <p>
    <%= radio_button_tag(:Q2, "b") %>
    <%= label_tag(:b, " b) Own your business ") %>
    </p>
    <p>
    <%= radio_button_tag(:Q2, "c") %>
    <%= label_tag(:c, "c) Be an employee") %>
    </p>
    <p>
    <%= radio_button_tag(:Q2, "d") %>
    <%= label_tag(:d, "d) Business bores me") %>
    </p>

  <h3>3) Which of these best describes you:</h3>
    <%= radio_button_tag(:Q3, "a") %>
    <%= label_tag(:a, "a) a passionate lover") %>
    <p>
    <%= radio_button_tag(:Q3, "b") %>
    <%= label_tag(:b, "b) a loyal companion") %>
    </p>
    <p>
    <%= radio_button_tag(:Q3, "c") %>
    <%= label_tag(:c, "c) a practical person") %>
    </p>
    <p>
    <%= radio_button_tag(:Q3, "d") %>
    <%= label_tag(:d, "d) it depends") %>
    </p>

  <h3>4) Would you prefer to drink:</h3>
    <%= radio_button_tag(:Q4, "a") %>
    <%= label_tag(:a, "a) wine ") %>
    <p>
    <%= radio_button_tag(:Q4, "b") %>
    <%= label_tag(:b, "b) whiskey") %>
    </p>
    <p>
    <%= radio_button_tag(:Q4, "c") %>
    <%= label_tag(:c, "c) beer	") %>
    </p>
    <p>
    <%= radio_button_tag(:Q4, "d") %>
    <%= label_tag(:d, "d) an energy drink") %>
    </p>
    <p>
    <%= radio_button_tag(:Q4, "e") %>
    <%= label_tag(:e, "e) none of the above") %>
    </p>

    <h3>5) Which of these best describes your ideal vacation:</h3>
      <%= radio_button_tag(:Q5, "a") %>
      <%= label_tag(:a, "a) sitting on a beach drinking a pina colada") %>
      <p>
      <%= radio_button_tag(:Q5, "b") %>
      <%= label_tag(:b, "b) climbing a mountain in a remote wilderness") %>
      </p>
      <p>
      <%= radio_button_tag(:Q5, "c") %>
      <%= label_tag(:c, "c) visiting museums and trying culinary delights in a foreign country ") %>
      </p>
      <p>
      <%= radio_button_tag(:Q5, "d") %>
      <%= label_tag(:d, "d) an all inclusive cruise") %>
      </p>

      <h3>6) If you were a car, what would you be (pick closest answer):</h3>
        <%= radio_button_tag(:Q6, "a") %>
        <%= label_tag(:a, "a) corvette, porsche, or lamborghini") %>
        <p>
        <%= radio_button_tag(:Q6, "b") %>
        <%= label_tag(:b, "b) minivan or station wagon ") %>
        </p>
        <p>
        <%= radio_button_tag(:Q6, "c") %>
        <%= label_tag(:c, "c) SUV, Jeep, or suburban") %>
        </p>
        <p>
        <%= radio_button_tag(:Q6, "d") %>
        <%= label_tag(:d, "d) Cadillac, Mercedes Benz. Rolls Royce") %>
        </p>

        <h3>7) Which of these meals sounds the best8</h3>
          <%= radio_button_tag(:Q7, "a") %>
          <%= label_tag(:a, "a) steak- sizzling, thick, medium rare") %>
          <p>
          <%= radio_button_tag(:Q7, "b") %>
          <%= label_tag(:b, "b) yellow fin tuna sashimi") %>
          </p>
          <p>
          <%= radio_button_tag(:Q7, "c") %>
          <%= label_tag(:c, "c) hamburger helper – lasagne") %>
          </p>
          <p>
          <%= radio_button_tag(:Q7, "d") %>
          <%= label_tag(:d, "d) chicken salad sandwich") %>
          </p>
          <p>
          <%= radio_button_tag(:Q7, "e") %>
          <%= label_tag(:e, "e) salad of fresh greens from the garden") %>
          </p>

          <h3>8) What is your favorite competitive sport to watch:</h3>
            <%= radio_button_tag(:Q8, "a") %>
            <%= label_tag(:a, "a) sports are boring") %>
            <p>
            <%= radio_button_tag(:Q8, "b") %>
            <%= label_tag(:b, "b) baseball, football") %>
            </p>
            <p>
            <%= radio_button_tag(:Q8, "c") %>
            <%= label_tag(:c, "c) diving, gymnastics, skateboarding, or surfing") %>
            </p>
            <p>
            <%= radio_button_tag(:Q8, "d") %>
            <%= label_tag(:d, "d) tennis, golf, wresting, or track and field") %>
            </p>
            <p>
            <%= radio_button_tag(:Q8, "e") %>
            <%= label_tag(:e, "e) bass fishing tournament, cross country skiing, or Iditarod") %>
            </p>

            <h3>9) What kind of movies do you like:</h3>
              <%= radio_button_tag(:Q9, "a") %>
              <%= label_tag(:a, "a) action") %>
              <p>
              <%= radio_button_tag(:Q9, "b") %>
              <%= label_tag(:b, "b) comedy") %>
              </p>
              <p>
              <%= radio_button_tag(:Q9, "c") %>
              <%= label_tag(:c, "c) romance") %>
              </p>
              <p>
              <%= radio_button_tag(:Q9, "d") %>
              <%= label_tag(:d, "d) slice of life") %>
              </p>

              <h3>10) Determine which of these statements apply to you:</h3>
              <p></p>
              <P>I) 	I prefer opera to heavy metal</p>
              <P>I)II)	I prefer snowy days to sunny days and forests over deserts</p>
              <P>I)II) 	I prefer calico cats over black cats except around Halloween, sports cars
				over SUVs and warm colors over cool colors</p>
              <P>IV)	I prefer Apple cellphones and short skirts and tennis over soccer (football)
				and English over Russian but think people who say “maths” are
				not speaking English and should be beaten within an inch, not a
				centimeter of their life</p>


                <%= radio_button_tag(:Q10, "a") %>
                <%= label_tag(:a, " a) I") %>
                <p>
                <%= radio_button_tag(:Q10, "b") %>
                <%= label_tag(:b, "b) I and III") %>
                </p>
                <p>
                <%= radio_button_tag(:Q10, "c") %>
                <%= label_tag(:c, "c) I, II, and IV but not III") %>
                </p>
                <p>
                <%= radio_button_tag(:Q10, "d") %>
                <%= label_tag(:d, "d) I, II, and IV") %>
                </p>
                <p>
                <%= radio_button_tag(:Q10, "e") %>
                <%= label_tag(:e, "e) none of the above") %>
                </p>
                <p>
                <%= radio_button_tag(:Q10, "f") %>
                <%= label_tag(:f, "f) I suspect that you are wasting my time to improve your SEO rating") %>
                </p>
              

  <%= submit_tag "Submit" %>
<% end %>
