<div class="index">
  <h2 class="article_header">Articles</h2>
  <div class="index__articles">
    <% @articles.each do |article| %>
      <a class="blog-link" href="/articles/<%= article.slug %>">
        <div class="blog-card">
            <img class="blog-img" src="<%= asset_pack_path article.image %>" />
            <div class="text-overlay">
              <h2><%= article.title %></h2>
              <p>
                <%= article.short_description.truncate(138) if article.short_description %>
                <i>Read More</i>
              </p>

            </div>
        </div>
      </a>
    <% end %>
  </div>
  <%= will_paginate @articles, class: "digg_pagination" %>

  <h2 class="cat_header">Cat Breeds</h2>
  <div class="index__cats">
    <% @cats.each do |cat| %>
      <%= link_to cat_path(cat) do %>
        <div class="cat-blog-card">
            <img class="blog-img" src="<%= asset_pack_path 'media/images/cats/' + cat.image %>" />
          <div class="cat-text-overlay">
            <h2><%= cat.title.sub(" Cat: Facts & Trivia", "") %></h2>
            <p>
              <%= cat.short_description.truncate(83) if cat.short_description %>
              <i>Read More</i>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @cats, class: "digg_pagination", param_name: :cat_page %>
</div>
