<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
<div class="article" data-controller="accordian">
  <div class="article__top">
    <div class="cat__header">
      <%# image_pack_tag 'media/images/cats/' + @cat.image %>
      <img src="<%= asset_pack_path 'media/images/cats/' + @cat.image %>"
        data-pin-url="http://www.felinesfancy.com/cats/<%= @cat.id %>"
        data-pin-description="<%= @cat.title %>"
      >
      <h1><%= @cat.title %></h1>
    </div>
    <div class="article__short_description"><%= @cat.short_description %></div>
  </div>

  <!-- <center><h5>Tell Us Your Thoughts!</h5></center> -->

  <!-- <div class="article__article_header">
    <button class="article__button btn" type="button" name="article_button"
      data-target="accordian.article_header" data-action="click->accordian#expandShrinkArticle"
    >
      <h3>Click for full Description</h3>
    </button>
  </div> -->
  <div data-target="accordian.article" class="article__article">
    <%= @cat.article %>
  </div>
  <!-- <div class="article__meta">
    <button class="youtube__button btn" type="button" name="youtube_button"
      data-target="accordian.youtube_header" data-action="click->accordian#expandShrinkYoutube"
    >
      <h4>Show Videos</h4>
    </button>
    <button class="socialrank__button btn" type="button" name="socialrank_button"
      data-target="accordian.socialrank_header" data-action="click->accordian#expandShrinkSocialrank"
    >
      <h4>Show Rank</h4>
    </button>
  </div> -->

  <% if @first_video && @videos %>
    <div class="youtube" data-target="accordian.first_video">
      <div class="videoWrapper first_video">
        <iframe src="<%= @video_prefix + @first_video.video_id %>"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div data-target="accordian.youtube" class="article__youtube">
        <h5>More Interesting Videos about the <%= @cat.title.sub(": Facts & Trivia", "") %> !</h5>
        <% @videos.each do |video| %>
          <div class="cat_videos">
            <iframe src="<%= @video_prefix + video.video_id %>"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- <div data-target="accordian.socialrank" class="article__socialrank">
    <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1845_RC03/embed_loader.js">
    </script>
    <script type="text/javascript">
      trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"<%# @cat.social %>","geo":"","time":"today 1-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%201-m&q=%2Fm%2F0132vv","guestPath":"https://trends.google.com:443/trends/embed/"});
    </script>
  </div> -->

  <center><h5>Share</h5></center>
  <ul class="share-buttons">
    <li class="fb-share-button" data-href="http://www.felinesfancy.com/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.felinesfancy.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></li>
    <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
  </ul>

  <div class="article__comment">
    <h5>Tell Us About Your <%= @cat.title.sub(": Facts & Trivia", "") %></h5>
    <%= render 'cat_comments/form' %>

    <% if @cat_comments %>
      <div class="article__comments">
        <% @cat_comments.each do |comment| %>
          <div class="comment">
            <%= comment.body %>
          </div>
        <% end %>

        <%= will_paginate @cat_comments, class: "digg_pagination" %>
      </div>
    <% end %>
  </div>
</div>
