<header class="header">
  <div class="logo">
    <%= link_to root_path do %>
      <div class="logo__cat"></div>
    <% end %>
    <p class="slogan"><%= link_to "Feline's Fancy", root_path %></p>
  </div>
  <div class="website">
    <div class="buttons" data-controller="scroll">
      <% if @homepage %>
        <%= link_to( root_path, data: {action: "click->scroll#articles"} ) do %>
          <h4>Articles</h4>
        <% end %>
        <%= link_to( root_path, data: {action: "click->scroll#catBreeds"} ) do %>
          <h4>Cat Breeds</h4>
        <% end %>
        <%= link_to (new_cat_personality_test_path) do %>
          <h4>Cat Personality Test</h4>
        <% end %>
        <%= link_to (about_me_index_path) do %>
          <h4>About Me</h4>
        <% end %>
        <%= link_to new_contact_path do %>
          <h4>Feedback & Suggestions</h4>
        <% end %>
      <% else %>
        <%= link_to( root_path(scroll: "1") ) do %>
          <h4>Articles</h4>
        <% end %>
        <%= link_to( root_path(scroll: "2") ) do %>
          <h4>Cat Breeds</h4>
        <% end %>
        <%= link_to (new_cat_personality_test_path) do %>
          <h4>Cat Personality Test</h4>
        <% end %>
        <%= link_to (about_me_index_path) do %>
          <h4>About Me</h4>
        <% end %>
        <%= link_to new_contact_path do %>
          <h4>Feedback & Suggestions</h4>
        <% end %>
      <% end %>
    </div>
    <div class="search__feedback">
      <script async src="https://cse.google.com/cse.js?cx=007335270216527451082:dehwz3stake"></script>
      <div class="gcse-search"></div>
    </div>
    <div>
    </div>
  </div>
</header>
