<!DOCTYPE html>
<html>
  <head>
    <title>Feline Fancy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'application', async: true %>
    <%= javascript_pack_tag 'application', async: true %>

    <% if @js_css %>
      <%= stylesheet_pack_tag @js_css[:css], async: true %>
      <%= javascript_pack_tag @js_css[:js], async: true %>
    <% end %>

    <% if @index %>
      <%= stylesheet_pack_tag @index[:css], async: true %>
      <%= javascript_pack_tag @index[:js], async: true %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
