<!DOCTYPE html>
<html>
  <head>
    <title>Feline Fancy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138906419-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138906419-3');
    </script>

    <meta name="p:domain_verify" content="a053fa730e1e5028be67c01f106129a1"/>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_pack_tag 'application', async: true %>
    <%= javascript_pack_tag 'application', async: true %>

    <% if @js_css %>
      <%= stylesheet_pack_tag @js_css[:css], async: true %>
      <%= javascript_pack_tag @js_css[:js], async: true %>
    <% end %>

    <% if @index %>
      <%= stylesheet_pack_tag @index[:css], async: true %>
      <%= javascript_pack_tag @index[:js], async: true %>
    <% end %>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5374261406606651",
        enable_page_level_ads: true
      });
    </script>

    <% if @twitterTitle %>
      <meta name="fb:app_id" content="2658928914117851">
      <meta property="og:type" content="article" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta property="og:title" content="<%= @twitterTitle %>" />
      <meta property="og:url" content=<%= @twitterURL %> />
      <meta property="og:image" content="http://www.felinesfancy.com<%= asset_pack_path @twitterImage %>"  />
      <meta name="twitter:image" content="http://www.felinesfancy.com<%= asset_pack_path @twitterImage %>">
      <meta property="og:description" content="<%= @twitterDescription %>" />
      <meta property="article:published_time" content="2019-08-21T00:01:56+00:00" />
      <meta property="article:author" content="Feline's Fancy" />
    <% end %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>



    <script src="//assets.pinterest.com/js/pinit.js"
      type="text/javascript" async defer
      data-pin-hover="true">
    </script>




  </body>
</html>
